spring.application.name=market-backend

# Configuración de Aiven usando variables de entorno
spring.datasource.url=jdbc:mysql://nubix-db-nubix-market.j.aivencloud.com:12469/nubix-market_db?ssl-mode=REQUIRED
spring.datasource.username=avnadmin
spring.datasource.password=

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true