<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="APP_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n"/>
    <property name="LOG_DIR" value="${LOG_DIR:-logs}"/>
    <property name="LOG_FILE" value="${LOG_FILE:-nubix-market}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${APP_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${LOG_FILE}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>256MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${APP_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <springProfile name="!prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="com.nubix.market" level="DEBUG"/>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
        <logger name="com.nubix.market" level="INFO"/>
        <logger name="com.nubix.market.module.auth" level="INFO"/>
        <logger name="com.nubix.market.module.report" level="INFO"/>
    </springProfile>
</configuration>
